button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  border-radius: 8px;
  padding-right: 10px;
  height: 40px;
}

button:hover {
  opacity: 0.7;
}

ul.network-icons,
ul.project-content-3,
ul.about-network-icons,
li.navbar-items,
li.navbar-item-logo,
li.title-element,
li.tech-list,
li.tech {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  display: flex;
  align-items: center;
}

ul.navbar-content {
  margin: 0;
  padding: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

ul.network-icons,
ul.about-network-icons,
li.network-icons-list {
  padding: 0;
  padding-left: 9px;
  display: flex;
  align-items: center;
}

ul.tech-titles,
li.tech-title-size-1,
li.tech-title-size-2 {
  margin: 0;
  padding-left: 12px;
}

li.title-element + li.list-element,
li.list-element + li.list-element {
  margin-left: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span img {
  display: flex;
}

a {
  text-decoration: none;
}

form {
  margin: 0 auto;
  width: px;
  height: 500px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input {
  font: 1em sans-serif;
  width: 327px;
  height: 48px;
  box-sizing: border-box;
  padding: 16px;
}

textarea {
  font: 1em sans-serif;
  width: 327px;
  box-sizing: border-box;
  vertical-align: top;
  height: 140px;
  padding: 16px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.grid-container {
  max-width: 1000px;
  height: 650px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 718px 718px 762px 718px 762px 1500px 779px;
  min-width: 375px;
}

.grid-item {
  background-color: #e5e5e5;
}

.grid-item-beginning {
  background-size: 100% 80%;
  background-image: url("img/background-beginning-mobile.svg");
  background-repeat: no-repeat;
  background-position: 10px 135px;
}

.navbar-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.about-thing {
  border-top-right-radius: 60px;
}

.grid-item-ending {
  background-color: #e5e5e5;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6070ff;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  color: #344563;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.network-icons a:hover {
  opacity: 0.6;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 24px;
}

.flex-item {
  flex: 1;
  flex-grow: 1;
  background-color: white;
  padding: 16px;
}

#about {
  background-color: white;
}

.project-content-2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  color: #172b4d;
}

.project-content-3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-content-3 li {
  display: inline;
  padding-left: 0;
}

.title-element {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.list-element {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-content-4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  padding-left: 4px;
}

.project-content-5 {
  margin-right: 10px;
}

.flex-container-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-top: 50px;
}

.about-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-right: 24px;
}

.about-connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.box {
  margin: 24px;
}

.about-network-icons a:hover {
  opacity: 0.6;
}

.navbar a:hover {
  opacity: 0.6;
}

.about-languages {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding: 12px;
}

.right {
  width: 12px;
  height: 12px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 black;
  margin-top: 6px;
  transform: rotate(-135deg);
}

.bottom {
  width: 12px;
  height: 12px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 black;
  margin-top: 32px;
  margin-left: 5px;
  transform: rotate(-45deg);
}

.about-language-title {
  display: inline-flex;
  gap: 130px;
}

.about-frameworks-skills {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.coding-languages {
  margin-left: 6px;
  padding-left: 0;
}

.aligned {
  display: inline-flex;
}

.about-technologies {
  display: inline;
}

.technologies-size {
  width: 285px;
  height: 66.72px;
}

.tech-titles {
  display: inline-block;
}

.tech-title-size-1 {
  display: flex;
  align-items: center;
  width: 278px;
  height: 100px;
  gap: 103px;
}

.tech-title-size-2 {
  display: flex;
  align-items: center;
  width: 278px;
  height: 100px;
  gap: 180px;
}

.float {
  float: left;
}

.languages-list {
  display: inline-block;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0.02em;
}

.languages-layout {
  padding: 0;
  margin-bottom: 10px;
}

li.languages-list + li.languages-list {
  margin-top: 10px;
}

.grid-item-contact {
  background: #6070ff;
  background-size: 100% 100%;
  background-image: url("img/background-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: 70px 0;
  border-top-left-radius: 80px;
}

.contact-me-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.contact-me-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

#name::placeholder,
#email::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #172b4d;
}

#contact-button::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.tech-logo {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  padding: 10px;
}

.mobile-rectangle {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
}

.mobile-rectangle:hover {
  transform: scale(110%);
}

.language-names-mobil {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #253858;
  padding-left: 100px;
}

.contact-hr {
  width: 134px;
  height: 5px;
  color: black;
  background-color: black;
  border-radius: 8px;
  border: 0;
  margin-top: 140px;
}

.flex-item img {
  transition: transform 0.5s;
}

.flex-item img:hover {
  transform: scale(110%);
}

.floatRight {
  transition: transform 0.5s;
}

.floatRight:hover {
  transform: scale(120%);
}

.navbar-link:hover {
  font-size: 18px;
}

@media (max-width: 768px) {
  .navbar-link {
    display: none;
  }
}

@media (min-width: 768px) {
  li.navbar-item-logo + li.navbar-items {
    margin-left: 900px;
  }

  li.navbar-items + li.navbar-items {
    margin-left: 30px;
  }

  .grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 916px 638px 638px 638px 638px 800px 796px;
    min-width: 1440px;
    min-height: 5048px;
  }

  .grid-item-beginning {
    background-color: white;
    background-size: 100% 80%;
    background-image: url("img/background-beginning-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 120px;
    border-top-left-radius: 80px;
  }

  .beginning {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    padding: 0 240px;
    min-height: 100vh;
  }

  .content {
    margin-top: 150px;
  }

  .hamburger {
    display: none;
  }

  .left-side-content {
    float: left;
    width: 40%;
    padding-left: 48px;
    height: 100%;
  }

  .left-side-picture {
    float: left;
    width: 50%;
    height: 100%;
  }

  .right-side-content {
    float: right;
    width: 40%;
    padding-right: 48px;
    height: 100%;
  }

  .right-side-picture {
    float: right;
    width: 50%;
    height: 100%;
  }

  .left-side-about-content {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 80px;
  }

  .right-side-about-tech {
    float: right;
    width: 50%;
    height: 100;
  }

  .mobile-rectangle {
    width: 152px;
    height: 120px;
    background: #f7f7f9;
    transition: transform 1s;
  }

  .mobile-rectangle:hover {
    transform: scale(110%);
  }

  .language-names-mobil {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #253858;
    padding-left: 65px;
  }

  .about-technologies {
    display: flex;
    flex-wrap: wrap;
  }

  .about-technologies li {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .contact-hr {
    display: none;
  }

  .about-language-title {
    display: inline-flex;
    gap: 428px;
  }

  .tech-title-size-1 {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    gap: 398px;
  }

  .tech-title-size-2 {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    gap: 475px;
  }

  .grid-item-contact {
    background: #6070ff;
    background-size: 85% 100%;
    background-image: url("img/background-contact-desktop.svg");
    background-repeat: no-repeat;
    border-top-left-radius: 80px;
    background-position: 70px 0;
  }

  .contact-me-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 438px;
    margin-right: 438px;
  }

  input {
    font: 1em sans-serif;
    width: 447px;
    height: 48px;
    box-sizing: border-box;
    padding: 16px;
    margin-left: 30px;
  }

  textarea {
    font: 1em sans-serif;
    width: 447px;
    box-sizing: border-box;
    vertical-align: top;
    height: 140px;
    padding: 16px;
    margin-left: 30px;
  }

  .contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    flex: 1;
    flex-grow: 1;
    background-color: white;
    margin: 25px;
    padding: 16px;
  }

  .animation-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 540px;
  }

  .animation-container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 3s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .animation-container .ring:nth-child(1) {
    animation: animate2 2s linear infinite;
    animation-delay: -2s;
    position: absolute;
    margin-top: -175px;
  }

  .animation-container .ring::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow:
      0 0 0 5px #24ecff53,
      0 0 0 10px #24ecff22,
      0 0 0 20px #24ecff11,
      0 0 20px #24ecff,
      0 0 20px #24ecff;
  }

  .animation-container .ring:nth-child(2) {
    animation: animate2 2s linear infinite;
    animation-delay: -4s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
  }

  .animation-container .ring:nth-child(2)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow:
      0 0 0 5px #93ff2d53,
      0 0 0 10px #93ff2d22,
      0 0 0 20px #93ff2d11,
      0 0 20px #93ff2d,
      0 0 20px #93ff2d;
  }

  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .animation-container .ring:nth-child(3) {
    animation: animate2 2s linear infinite;
    animation-delay: -3s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
  }

  .animation-container .ring:nth-child(3)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e41cf8;
    box-shadow:
      0 0 0 5px #e41cf853,
      0 0 0 10px #e41cf822,
      0 0 0 20px #e41cf811,
      0 0 20px #e41cf8,
      0 0 20px #e41cf8;
  }
}
