* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.hero {
  height: 85vh;
  width: 100%;
  background: white;
  background-size: 100% 71vh;
  background-image: url("img/background-beginning-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 75px;
  border-bottom-left-radius: 90px;
}

.hero-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
  padding-top: 5%;
}

.hero-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  cursor: pointer;
}

.project-content-3 li {
  display: inline;
  padding-left: 0;
}

.card-u-list a {
  color: white;
  text-decoration: none;
}

.card-u-list li {
  padding-top: 7%;
  list-style-type: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
}

.hero-nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 25px;
}

.hero-nav ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
  text-transform: capitalize;
}

.hero-nav ul li a:hover {
  color: #f9004d;
  transition: 0.1s;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 5%;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 5%;
  padding-right: 5%;
}

.hero-lets-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
}

ul.network-icons {
  display: flex;
  align-items: center;
  padding-left: 4%;
  padding-right: 5%;
}

li.network-icons-list {
  padding: 0;
  padding-left: 9px;
  display: flex;
  align-items: center;
}

li.network-icons-list:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

li.network-icons-list + li.network-icons-list {
  margin-left: 1%;
}

.portfolio {
  height: 100%;
  min-width: 327px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.portfolio-item {
  width: 100%;
  max-height: 90vh;
  background-color: white;
  padding: 6%;
  display: inline-block;
  justify-content: center;
  align-content: center;
}

.portfolio-item img:hover {
  transition: 0.5s;
  transform: scale(120%);
}

figure.portfolio-item + figure.portfolio-item {
  margin-top: 15%;
}

.project-content-2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 44px;
  color: #172b4d;
}

.project-content-3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.title-element {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

ul.project-content-3,
li.title-element {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  display: flex;
  align-items: center;
}

li.title-element + li.list-element,
li.list-element + li.list-element {
  margin-left: 4%;
}

.list-element {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-content-4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  padding-left: 6px;
  padding-top: 30px;
}

.languages-list {
  display: inline-block;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0.02em;
  margin-bottom: 3%;
}

.languages-layout {
  padding: 0;
  margin-bottom: 2%;
  margin-top: 4%;
}

li.languages-list + li.languages-list {
  margin-top: 1%;
  margin-left: 0.8%;
}

.language-names-mobil {
  padding-left: 40px;
}

button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  border-radius: 8px;
  padding-right: 1%;
  padding-left: 1%;
  height: 40px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.about-me {
  background: white;
  border-top-right-radius: 90px;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 200px;
  padding-left: 5%;
  padding-right: 5%;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-top: 50px;
}

.about-paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 8%;
}

.about-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-top: 4%;
  padding-bottom: 4%;
}

ul.about-network-icons {
  display: flex;
  align-items: center;
  padding-right: 5%;
}

ul.card-u-list li a:hover {
  font-size: 18px;
  opacity: 0.8;
  transition: 0.3s;
}

.about-language-title {
  display: inline-flex;
  gap: 145px;
  padding-top: 5%;
  padding-left: 10px;
  padding-bottom: 20px;
}

.bottom {
  width: 12px;
  height: 12px;
  transition: 0.5s;
  float: right;
  box-shadow: -2px 2px 0 black;
  margin-top: 3px;
  transform: rotate(-45deg);
}

.about-technologies {
  display: inline;
}

li.tech {
  margin: 0;
  padding: 0;
  padding-left: 6px;
  display: flex;
  align-items: center;
}

.mobile-rectangle {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
}

.mobile-rectangle:hover {
  transform: scale(110%);
}

.tech-logo {
  width: 48px;
  height: 48px;
  border-radius: 45px;
  padding: 10px;
}

ul.tech-titles,
li.tech-title-size-1,
li.tech-title-size-2 {
  margin: 0;
  padding-left: 12px;
  list-style-type: none;
  padding-top: 5%;
}

.right {
  width: 12px;
  height: 12px;
  transition: 0.5s;
  float: left;
  box-shadow: -2px 2px 0 black;
  margin-top: 6px;
  transform: rotate(-135deg);
}

.tech-title-size-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 40%;
}

.tech-title-size-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 40%;
}

.contact-me-section {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #6070ff;
  border-top-left-radius: 90px;
  padding-bottom: 40px;
  background-size: 100% 100%;
  background-image: url("img/background-contact-mobile.svg");
  background-repeat: no-repeat;
  background-position: 82px 4px;
}

.contact-me-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 1%;
}

.contact-me-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
}

ul.contact-list {
  display: inline;
  text-align: center;
}

li.contact-items {
  margin: 0;
  padding: 0;
  padding-left: 2%;
  display: flex;
  align-items: center;
  padding-right: 5%;
  text-align: center;
}

#name::placeholder,
#email::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #172b4d;
}

input {
  font: 1em sans-serif;
  min-width: 327px;
  width: 50%;
  max-width: 450px;
  height: 48px;
  box-sizing: border-box;
  padding: 2%;
}

textarea {
  font: 1em sans-serif;
  min-width: 327px;
  width: 50%;
  max-width: 450px;
  box-sizing: border-box;
  vertical-align: top;
  height: 140px;
  padding: 2%;
}

li.contact-item + li.contact-item {
  padding-top: 2%;
}

.contact-button {
  padding-top: 2%;
}

.interests-section {
  background: linear-gradient(rgb(8, 2, 70) 0%, rgb(18, 4, 70) 146.21%);
  width: 100%;
  padding: 40px 0;
  border-top-right-radius: 60px;
}

.title h2 {
  color: white;
  font-size: 40px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #36454f;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: #f9004d;
}

h5 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

.card-1 {
  color: #00ced1;
  padding-top: 10px;
  font-size: 20px;
}

.card-2 {
  color: #ff6347;
  padding-top: 10px;
  font-size: 20px;
}

.copy-right {
  color: white;
  font-size: 8px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

@media (max-width: 768px) {
  .desktop-nav-anchors {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-hamburger {
    display: none;
  }

  .hero {
    height: 85vh;
    width: 100%;
    background: white;
    background-size: 100% 80%;
    background-image: url("img/background-beginning-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 80px;
  }

  .hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    padding-top: 2%;
  }

  .hero-content {
    margin-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #172b4d;
    padding: 5%;
  }

  .hero-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding-left: 5%;
    padding-right: 5%;
  }

  .hero-lets-connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    padding-left: 23%;
    padding-right: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  ul.network-icons {
    display: flex;
    align-items: center;
    padding-left: 22.4%;
  }

  .languages-layout {
    padding: 0;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  .portfolio-item {
    width: 100%;
    max-height: 60vh;
  }

  figure.portfolio-item + figure.portfolio-item {
    margin-top: 4%;
  }

  .right-side-content {
    float: right;
    width: 50%;
    padding-right: %5;
    height: 100%;
  }

  .left-side-picture {
    float: left;
    width: 40%;
    height: 100%;
  }

  .left-side-content {
    float: left;
    width: 50%;
    padding-left: 1%;
    height: 100%;
  }

  .right-side-picture {
    float: right;
    width: 40%;
    height: 100%;
  }

  .animation-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 490px;
    padding-top: 20px;
  }

  .animation-container .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 3s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .animation-container .ring:nth-child(1) {
    animation: animate2 2s linear infinite;
    animation-delay: -2s;
    position: absolute;
    margin-top: -175px;
  }

  .animation-container .ring::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow:
      0 0 0 5px #24ecff53,
      0 0 0 10px #24ecff22,
      0 0 0 20px #24ecff11,
      0 0 20px #24ecff,
      0 0 20px #24ecff;
  }

  .animation-container .ring:nth-child(2) {
    animation: animate2 2s linear infinite;
    animation-delay: -4s;
    border-top: 4px solid transparent;
    border-left: 4px solid #93ff2d;
  }

  .animation-container .ring:nth-child(2)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow:
      0 0 0 5px #93ff2d53,
      0 0 0 10px #93ff2d22,
      0 0 0 20px #93ff2d11,
      0 0 20px #93ff2d,
      0 0 20px #93ff2d;
  }

  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  .animation-container .ring:nth-child(3) {
    animation: animate2 2s linear infinite;
    animation-delay: -3s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e41cf8;
  }

  .animation-container .ring:nth-child(3)::before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e41cf8;
    box-shadow:
      0 0 0 5px #e41cf853,
      0 0 0 10px #e41cf822
      0 0 0 20px #e41cf811,
      0 0 20px #e41cf8,
      0 0 20px #e41cf8;
  }

  .left-side-about-content {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 5%;
  }

  .right-side-about-content {
    float: right;
    width: 50%;
    height: 100%;
  }

  .about-technologies {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-rectangle {
    width: 152px;
    height: 120px;
    background: #f7f7f9;
    transition: transform 1s;
  }

  .mobile-rectangle:hover {
    transform: scale(110%);
  }

  .language-names-mobil {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding-left: 10px;
  }

  .about-technologies li {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .contact-hr {
    display: none;
  }

  .about-language-title {
    display: inline-flex;
    width: 100%;
    gap: 50%;
  }

  .tech-title-size-1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 50%;
  }

  .tech-title-size-2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 50%;
  }

  .about-me {
    padding-left: 0;
    padding-right: 5%;
  }

  .contact-me-section {
    background-image: url("img/background-contact-desktop.svg");
  }
}
